.header {
  width: 95vw;
  height: 24vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.logo {
  width: 140px;
  height: 140px;
}

.nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  color: #f4f3ee;
}

a:hover {
  opacity: 0.6
}
