ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 36px;
}

nav a:hover {
    color: blue;
}

a {
    color: black;
    text-decoration: none;
    font-size: large;
}

.center {
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

main{
    text-align: left;
    margin-bottom: 40px;
    
}

footer {
    display: flex;
    justify-content: center;    
}

footer a {
    margin: 40px
}

footer a:hover {
    color: blue;
}

footer p {
   margin-top: 20px; 
   text-align: center;
}

body {
    padding: 0px 50px;
}

body p {
    font-size: medium;
}