* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    background-color: #f8f8f8; 
    color: #333; 
  }
  
  
  .header {
    background-color: #4d4dff; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  
  .nav {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  
  .ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  color: #fff; 
  font-weight: bold; 
  transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ffcc00; 
  }
  
  
  main {
    padding: 20px;
  }
  
  ul {
    list-style: none;
    text-align: center;
  }
  
  
  .telahome {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  h1, h2, h3 {
    text-align: center;
    color: #4d4dff; 
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: 200;
  }
  
  section {
    background-color: #fff; 
    padding: 20px;
    margin-bottom: 20px;
  }
  
  
  footer {
    background-color: #4d4dff; 
    color: #fff; 
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    text-decoration: underline;
    margin: 0 5px;
  }
  