/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    background-color: #f8f8f8; /* Fundo mais claro */
    color: #333; /* Cor do texto mais escura */
  }
  
  /* Header Style */
  .header {
    background-color: #4d4dff; /* Azul mais vibrante */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  
  .nav {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  
  .ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  color: #fff; /* Cor do texto mais clara para destaque */
  font-weight: bold; /* Texto em negrito */
  transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ffcc00; /* Cor do texto mais clara no hover */
  }
  
  /* Main Style */
  main {
    padding: 20px;
  }
  
  ul {
    list-style: none;
    text-align: center;
  }
  
  
  .telahome {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  h1, h2, h3 {
    text-align: center;
    color: #4d4dff; /* Azul mais vibrante */
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: 200;
  }
  
  section {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Footer Style */
  footer {
    background-color: #4d4dff; /* Azul mais vibrante no rodapé */
    color: #fff; /* Texto branco */
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #fff; /* Texto branco para links no rodapé */
    text-decoration: underline;
    margin: 0 5px;
  }
  