* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2d42;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f3ee;
}

main {
  background-color: #4d4f6d;
}

h2 {
  text-align: center;
  padding: 12px;
  margin-bottom: 40px;
  background-color: #4d4f6d;
}

h3 {
  margin: 60px 60px 24px 60px;
}

h4 {
  margin: 24px;
}

.imagemdicas {
  height: 100px;
  width: 160px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section {
  background-color: #4d4f6d;
  margin-bottom: 12px;
}

div {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  background-color: #2b2d42;
  margin: 12px 30px 30px 12px;
  border-radius: 16px;
}

div p {
  margin-bottom: 20px;
}

div h3 {
  padding: 10px;
  line-height: 1.5em;
  font-size: medium;
}

div a {
  padding: 20px;
}
