main {
  margin: 0;
  padding: 0;
  background-color:  #4d4f6d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: inherit;
}

h2 {
  text-align: center;
  padding: 12px;
  margin-bottom: 40px;
  background-color: #4d4f6d;
}

.imagemdicas {
  height: 100px;
  width: 160px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section {
  background-color: #4d4f6d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div {
  flex: 0 0 calc(33.333% - 24px);
  display: block;
  justify-content: space-around;
  padding: 16px;
  background-color: #2b2d42;
  margin: 12px 0;
  border-radius: 16px;
}

div p {
  padding: 20px;
}

div h3 {
  line-height: 1.5em;
  font-size: medium;
  margin-bottom: 20px;
}

.saibaMais {
  display: inline-block;
  background-color: #4d4f6d;
  color: #f4f3ee;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  div {
    flex: 0 0 calc(33.333% - 24px);
    display: block;
    justify-content: space-around;
    padding: 16px;
    background-color: #2b2d42;
    margin: 12px 0;
    border-radius: 16px;
    font-size: 10px;
  }
  div h3 {
    line-height: 1.5em;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 10px;
  }
}
