* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2d42;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f3ee;
}

.header {
  width: 90vw;
  height: 24vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
 
}
.logo {
  width: 140px;
  height: 140px;
  margin-top: 8px;
  
}
.nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  color: #f4f3ee;
}
