* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edede9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  
}
.nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000814;
}
