main {
  background-color: #4d4f6d;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px;
}
.section {
  width: 95vw;
  height: 40vh;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.profile {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  width: 14vw;
  height: 32vh;
  padding: 3.7px;
  border: #778da9 solid 3px;
}

.div {
  width: 70%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  font-size: 1.5em;
  font-weight: 400;
}
.redes {
  width: 25px;
  height: 25px;
}

.form {
  width: 95vw;
  height: 60vh;
  margin: 0 auto;
 
}

form h2 {
  text-align: center;
  padding: 8px;
  font-size: 2rem;
}
form h4 {
  text-align: center;
  padding: 6px;
  font-size: 1.2rem;
}

.sectionForm {
  display: flex;
  justify-content: space-around;
 
}
form label {
  font-size: 1.2em;
  padding: 8px;
  margin-bottom: 4px;
}

p {
  font-size: 1em;
  padding: 8px;
}
.data {
  width: 40%;
  height: 50vh;
}
.data input {
  width: 40vw;
  padding: 12px;
  margin-top: 4px;
  border-radius: 10px;
}

textarea {
  width: 40vw;
  padding: 1rem 0.75rem;
  border-radius: 10px;
}
.tech {
  width: 40%;
  height: 50vh;
}
.tech label {
  padding: 8px;
}
select {
  width: 40vw;
  padding: 4px;
  border-radius: 10px;
}
button {
  width: 40vw;
  margin-top: 15px;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border: none;
  color: #222222;
  background-color: #4d4f6d;
  cursor: pointer;
  border-radius: 50px;
}
button:hover {
  background-color: #2a6f97;
  transition: 0.3s;
}
