* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  background-color: #f8f8f8; /* Fundo mais claro */
  color: #333; /* Cor do texto mais escura */
}

.header {
  background-color: #4d4dff; /* Azul mais vibrante */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: center;
}

.ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff; /* Cor do texto mais clara para destaque */
  font-weight: bold; /* Texto em negrito */
  transition: color 0.3s ease;
}

a:hover {
  color: #ffcc00; /* Cor do texto mais clara no hover */
}

main {
  padding: 20px;
}

h1 {
  color: #4d4dff; /* Azul mais vibrante */
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 12px;
}

.section {
  margin-bottom: 40px;
}

.img {
  max-width: 100%;
  height: auto;
}

.titulo {
  text-align: center;
}

.div {
  text-align: center;
}

.section a {
  text-decoration: none;
  color: #333; /* Cor do texto mais escura */
  display: block;
}

.section a:hover {
  color: #4d4dff; /* Cor do texto mais vibrante no hover */
}

.p {
  text-align: center;
}

footer {
  background-color: #4d4dff; /* Azul mais vibrante no rodapé */
  color: #fff; /* Texto branco */
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff; /* Texto branco para links no rodapé */
  text-decoration: underline;
  margin: 0 5px;
}
