main {
  background-color: #4d4f6d;
  padding: 10px;
  padding-bottom: 20px;
}

.linkCurso {
  display: inline-block;
  background-color: #4d4f6d;
  color: #f4f3ee;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.linkCurso:hover {
  background-color: #6b6e91;
}

a:hover {
  opacity: 0.6;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px;
  background-color: #4d4f6d;
}

h2 {
  text-align: center;
  padding: 12px;
  margin-bottom: 40px;
}

section {
  width: 95vw;
  height: auto;
  margin: 50px 0px 10px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.curso1,
.curso2,
.curso3,
.curso4 {
  list-style-type: none;
}

.logocursos {
  max-width: 150px;
  width: 100%;
  height: auto;
  float: left;
  margin-right: 20px;
}
.redes {
  width: 25px;
  height: 25px;
}
.cadastro-section {
  margin: 500px;
  padding: 0px;
  margin-top: -50px;
  margin-bottom: 0px;
}

.cadastro-form {
  background-color: transparent;
  color: #f4f3ee;
  padding: 50px;
  border-radius: 15px;
  margin: 50px 0;
}

.cadastro-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.cadastro-form label {
  display: block;
  margin-bottom: 8px;
}

.cadastro-form input {
  background-color: #e6ffe6;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #6b6e91;
  color: black;
}

.cadastro-form button {
  background-color: #4d4f6d;
  color: #f4f3ee;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro-form button:hover {
  background-color: #6b6e91;
}

.cadastro-form input.campo-invalido {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.cadastro-form input.campo-valido {
  border: 2px solid green;
  background-color: #e6ffe6;
}

@media only screen and (max-width: 1024px) {

  .cadastro-section {
    margin: 50px;
    padding: 0px;
    margin-top: -50px;
    margin-bottom: 0px;
  }
}
