* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  background-color: #f8f8f8; /* Fundo mais claro */
  color: #333; /* Cor do texto mais escura */
}

.header {
  background-color: #4d4dff; /* Azul mais vibrante */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  margin-top: 20px; /* Reduzi o espaçamento superior */
}

.nav {
  width: 80%;
  display: flex;
  justify-content: center; /* Centralizado o menu */
}

.ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff; /* Cor do texto mais clara para destaque */
  font-weight: bold; /* Texto em negrito */
  transition: color 0.3s ease;
}

a:hover {
  color: #ffcc00; /* Cor do texto mais clara no hover */
}

main {
  padding: 20px;
}

.linkCurso {
  display: inline-block;
  background-color: #ff66b2; /* Rosa mais vibrante */
  color: #fff; /* Texto branco */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.linkCurso:hover {
  background-color: #ff3385; /* Rosa mais escuro no hover */
}


h1 {
  color: #4d4dff; /* Azul mais vibrante */
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 12px;
}

section {
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  padding: 12px;
  margin-bottom: 40px;
}

.curso1,
.curso2,
.curso3,
.curso4 {
  background-color: #fff; /* Fundo branco para destacar */
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  list-style-type: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.logocursos {
  max-width: 200px;
  height: auto;
  float: left;
  margin-right: 20px;
}

.curso1 p,
.curso2 p,
.curso3 p,
.curso4 p {
  overflow: hidden; /* Limpa a flutuação e mantém o layout correto */
}

footer {
  background-color: #4d4dff; /* Azul mais vibrante no rodapé */
  color: #fff; /* Texto branco */
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff; /* Texto branco para links no rodapé */
  text-decoration: underline;
  margin: 0 5px;
}
