* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2d42;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f3ee;
}

.header {
  width: 95vw;
  height: 24vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
.logo {
  width: 140px;
  height: 140px;
}

.nav {
  display: none;
  flex-direction: column;
  background-color: #4d4f6d;
  padding: 10px;
}

.menu-btn {
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  background-color: #4d4f6d;
  color: #f4f3ee;
  border: none;
  padding: 10px;
  margin: 0;
}

.menu-btn:hover {
  background-color: #6b6e91;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul li {
  padding: 7.5px;
  text-align: center;
  border-bottom: 1px solid #6b6e91;
}

a {
  text-decoration: none;
  color: #f4f3ee;
}
a:hover {
  opacity: 0.6;
}

main {
  background-color: #4d4f6d;
  padding: 10px;
  padding-bottom: 20px;
}

.linkCurso {
  display: inline-block;
  background-color: #4d4f6d;
  color: #f4f3ee;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.linkCurso:hover {
  background-color: #6b6e91;
}

nav a:hover {
  color: blue;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 20px;
  background-color: #4d4f6d;
}
h2 {
  text-align: center;
  padding: 12px;
  margin-bottom: 40px;
}
section {
  width: 95vw;
  height: 40vh;
  margin: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.curso1,
.curso2,
.curso3,
.curso4 {
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 20px;
}
.logocursos {
  max-width: 150px;
  width: 100%;
  height: auto;
  float: left;
  margin-right: 20px;
}

.redes {
  width: 25px;
  height: 25px;
}

footer {
  width: 96vw;
  height: 25vh;
  text-align: center;
  line-height: 30px;
  margin: 12px;
}
/* Seu código CSS existente */

/* ... (seu código anterior) ... */

@media screen and (max-width: 1024px) {
  .header {
    height: 100%;
    flex-direction: column;
  }

  .menu-btn {
    display: block;
    order: -1; /* Mudei a ordem para posicionar o botão de menu no início da linha */
  }

  .nav {
    margin-top: 10px;
  }

  .ul {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 4px;
  }

  .ul.active {
    display: flex;
  }

  @media screen and (max-width: 768px) {
    .header {
      flex-direction: row; /* Alterado para exibir o menu ao lado */
    }

    .ul {
      display: flex;
      flex-direction: row; /* Exibir itens do menu na horizontal */
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #4d4f6d;
      z-index: 1;
    }

    .ul.active {
      flex-direction: column;
    }

    .ul li {
      border-bottom: none;
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  }
}
