* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2b2d42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f4f3ee;
}
.header {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.logo {
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
a {
    text-decoration: none;
    color: #f4f3ee;
}
nav a:hover {
    color: blue;
}
footer {
    width: 80%;
    height: 20vh;
    margin: 50px auto;
    text-align: center;
    line-height: 30px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 12px
}
h2 {
    text-align: center;
    padding: 12px;
    margin-bottom: 40px;
}
ul li {
    text-align: center;
    padding: 12px;
    text-decoration: none;

}
.imagemnoticias {
    height: 100px;
    width: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 24px;
    border: solid 2px white;
    margin: 12px 60px 12px 60px;
}
section p {
    padding: 24px;
    font-size: small;
}
section h3 {
    padding: 24px;
    margin-top: 40px;
}
