* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2d42;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f3ee;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 12px
}

h2 {
  text-align: center;
  padding: 12px;
  margin-bottom: 40px;
}

ul li {
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.imagemnoticias {
  height: 100px;
  width: 120px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h4 {
  text-align: center;
}

.calendar {
  max-width: 760px;
  margin: 10px auto;
  background-color: #4d4f6d;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.dias-semana {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.dias-numericos {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.dias-semana span{
  display: inline-block;
  width: 14.2%;
  font-weight: bold;
  color: burlywood;
}
.dias-numericos span{
  display: inline-block;
  width: 14.2%;
  margin: 8px 0;
}

section {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 24px;
  border: solid 2px white;
  margin: 12px 60px 12px 60px;
}

section p {
  padding: 24px;
  font-size: small;
}

section h3 {
  padding: 24px;
  margin-top: 40px;
}
