* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2d42;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f3ee;
}

main {
  background-color: #4d4f6d;
}

h2 {
  text-align: center;
  padding: 12px;
  background-color: #4d4f6d;
}

h4 {
  text-align: center;
  padding: 12px;
  line-height: 1.5em;
}

.imagemnoticias {
  height: 100px;
  width: 120px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  display: table;
  width: auto;
  margin: auto;
  background-color: #4d4f6d;
}

th, td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
  font-weight: bold;
}

th {
  background-color: #4d4f7d;
}

td {
  cursor: pointer;
}

td:hover {
  background-color: black;
}

.current-day {
  background-color: #4d5f6d;
  color: white;
}

.other-month {
  color: #aaa;
  background-color: #4d4f6d;
}

main div span {
  text-align: center;
  padding: 20px;
}

section {
  background-color: #4d4f6d;
  margin: auto auto auto auto;
  display: flow-root;
  justify-content: center;
  width: auto;
}

div {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #2b2d42;
  margin: 12px 15px 30px 12px;
  border-radius: 16px;
}

div p {
  padding: 20px;
}

div h3 {
  padding: 40px;
  font-size: medium;
  line-height: 1.5em;
  margin-left: 40px;
}

.saibaMais {
  display: inline-block;
  background-color: #4d4f6d;
  color: #f4f3ee;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 20px;
}

.navigation-buttons button {
  background-color: #4d4f7d;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation-buttons button:hover {
  background-color: #2b2d42;
}

@media screen and (max-width: 768px) {
  div {
    display: block;
    justify-content: center;
    padding: 16px;
    background-color: #2b2d42;
    margin: 12px 15px 30px 12px;
    border-radius: 16px;
    font-size: 10px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    font-size: 10px;
  }

  div h3 {
    padding: 40px;
    font-size: medium;
    line-height: 1.5em;
    margin-left: 40px;
    font-size: 12px;
  }
}
