* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2d42;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f3ee;
}

main {
  background-color: #4d4f6d;
}

h2 {
  text-align: center;
  padding: 12px;
  margin-bottom: 40px;
  background-color: #4d4f6d;
}

.imagemnoticias {
  height: 100px;
  width: 120px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #4d4f6d;
}

table {
  border-collapse: collapse;
  width: 20%;
  display: block;
  margin-left: 400px;
  background-color: #4d4f6d;
}

th, td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
  font-weight: bold;
}

th {
  background-color: #4d4f7d;
}

td {
  cursor: pointer;
}

td:hover {
  background-color: black;
}

.current-day {
  background-color: #4d5f6d;
  color: white;
}

.other-month {
  color: #aaa;
  background-color: #4d4f6d;

}

section {
  background-color: #4d4f6d;
}

div {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  background-color: #2b2d42;
  margin: 12px 30px 30px 12px;
  border-radius: 16px;
}

div p {
  padding: 40px;
}

div h3 {
  padding: 10px;
  font-size: medium;
  line-height: 1.5em;
}
