main {
  background-color: #4d4f6d;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px;
  background-color: #4d4f6d;
}
.section {
  width: 95vw;
  height: 40vh;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.profile {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  width: 14vw;
  height: 32vh;
  padding: 3.7px;
  border: #778da9 solid 3px;
}
.div {
  width: 70%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.name {
  font-size: 1.5em;
  font-weight: 400;
}
.redes {
  width: 25px;
  height: 25px;
}
h2 {
  text-align: center;
  padding: 4px;
  background-color: #4d4f6d;
}
h3 {
  text-align: center;
  padding: 8px;
  background-color: #4d4f6d;
}
.form {
  width: 90vw;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
label {
  font-size: 1.2em;
  padding: 8px;
  cursor: pointer;
}
input {
  width: 40vw;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  cursor: pointer;
}
p{
  font-size: 1.2em;
  padding: 2px;
}
.helper-text {
  display: none;
  font-size: 0.8rem;
  color: darkred;
}
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}
.visible {
  display: block;
}
textarea {
  width: 40vw;
  padding: 1rem 0.75rem;
  border-radius: 10px;
}
.btnForm {
  width: 40vw;
  margin-top: 15px;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border: none;
  color: #222222;
  background-color: #4d4f6d;
  cursor: pointer;
  border-radius: 50px;
}
.btnForm:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.final {
  width: 98vw;
  height: 10vh;
  background-color: #4d4f6d;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-weight: 150;
    font-size: 22px;
  }
  .section {
    height: 65vh;
    flex-direction: column;
    justify-content: space-evenly;
   
  }
  .profile {
    width: 50vw;
    height: 25vh;
    margin: 4px;
    
  }
  .div {
    width: 85%;
    height: 40vh;
   
    
  }

  .form {
    height: 70vh;
  }

  .final {
    height: 5vh;
  }
}
