* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2d42;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f3ee;
}

.header {
  width: 95vw;
  height: 24vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
.logo {
  width: 140px;
  height: 140px;
}

#menuBtn {
  display: none;
}
.nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  color: #f4f3ee;
}
a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 100%;
    flex-direction: column;
  }
  #menuBtn {
    display: block;
    width: 20vw;
    font-size: 30px;

    border: none;
    color: white;
    padding: 4px;
    cursor: pointer;
  }

  .nav {
    display: none;
  }
  .ul {
    flex-direction: column;
    align-items: center;
    padding: 4px;
  }
}
