main {
  margin: 0;
  padding: 0;
  background-color: #4d4f6d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  padding: 12px;
  background-color: #4d4f6d;
}

main ul {
  background-color: #4d4f6d;
  display: block;
  justify-content: center;
}

h2 {
  text-align: center;
  padding: 12px;
  background-color: #4d4f6d;
}

main ul li {
  text-align: center;
  padding: 12px;
  text-decoration: none;
  background-color: #4d4f6d;
}

.telahome {
  margin: auto;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 250px;
}

section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 12px;
  border: solid 2px white;
  margin: 12px 60px 12px 60px;
  border-radius: 16px;
}
